body{
  margin:0px;
  font-family: Verdana,sans-serif;
  line-height:1.5;
}

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#w3row{
  margin: 0px;
  height: 57px;
  background-color:#fff;
  display:block;
  padding: 15px 0 0 0;
  margin-bottom:-15px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
}
#w3link{
  font-family: 'fontawesome';
  text-decoration:none;
  font-size: 37px;
  color:#444444;
  letter-spacing:3px;
  padding:15px;
  width:270px;
  float: left;
  line-height:1;
  position:relative;
}
#w3link span{
  color:#4CAF65;
  
}
#w3link a{
  font-family:'fontawesome';
  text-decoration:none;
}
#righthead{
  float:right;
  margin:20px 10px 5px 30px;
  font-family: "Segoe UI",'Arial,sans-serif';
}
/*----------End OF Header------------*/
/*----------End OF Header------------*/
/*----------End OF Header------------*/
#navbar{
  background-color:#4CAF50;
  height:70px;
  font-size:18px;
  font-family:"Segoe UI",Arial,sans-serif;
  box-shadow:  0 2px 4px  rgba(0,0,0,0.16);
  margin-left:-40px;

}
ul#mainnav{
    list-style-type: none;
    overflow: hidden;
    background-color: #4CAF50;
    letter-spacing: 1.2px;
}
ul#mainnav li{
  float: left;
  margin:0px;
}
ul#mainnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 42px;
}
.material-icons {
  clear: right;
  
  
}
ul#mainnav li a:hover {
  background-color:white;
  color:black;
}
ul#mainnav li a#globe{
  float: right;
}
/*----------------NavBarEnds---------------*/
/*----------------NavBarEnds---------------*/
/*----------------NavBarEnds---------------*/
#leftcol{
  width:230px;
  height:2425px;
  background-color:	white;
  box-shadow:  0px 0px 6px 1px rgba(0,0,0,0.16);
 padding: 10px 0px;
 display: inline-block;
 float: left;
}
.leftcolcomponents{
  display: block;
  text-align: left;
  font-weight:500;
  font-size: 21px;
  margin: 20px 16px 20px 8px ;
  padding: 0px 10px;
}
a.sidenavcontent{
  display:block;
  text-decoration: none;
  padding: 5px 16px ;
  font-size: 18px;
  letter-spacing: 1px;
  color:black;
  font-weight: 500;
  height:24px;
  
}

#leftcol a.sidenavcontent:hover{
  background-color:#ccc;
 }
/*---------------content---------------------*/
/*---------------content---------------------*/
/*---------------content---------------------*/
#rightcol
  {
    display: block;
    width: auto;
    

  }
#conleft1
  {
    float: left;
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: 0px 0px ;
    padding: 10px 25px 20px 10px;
    background-color: lightblue;
  }
#conleft1 h1
  {
    font-size: 80px;
    color: #555555;
    margin: 2px 0 -20px 0;
    font-weight: 400;
    
  }
#conleft1 p
  {
    font-size: 24px;

  }
#conleft1 .button
  {
    font-size: 16px; 
    background-color: #616161;
    text-decoration: none;
    color: white;
    margin: 5px 5px 5px 0;
    padding: 8px 16px;
    cursor: pointer;
  }


.box
  {
    float: right;
    width: auto;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  }


#btngrn{
  display: inline-block;
  margin-top: 15px;


}
.buttonblue
 {
  font-size: 16px; 
  background-color: #4CAF50;
  text-decoration: none;
  color: white;
  margin: 5px 5px 5px 0;
  padding: 8px 16px;
  cursor: pointer;
  display: block;
 }


#conright
  {
    width: auto;
    display: block;
    float: right;
    background-color: #f1f1f1;
    padding: 16px 5px 25px 8px ;
    margin: 10px 15px 20px 10px;

  }
#conright1
  {
    background-color: white;
    padding: 10px 15px 10px 10px ;
    margin: 20px 0;

  }

#htmlex
 {
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
  border-left: 4px solid #4CAF50;

 }







